# Carpetas de construcción
.next/
dist/
out/
build/

# Dependencias
node_modules/
pnpm-lock.yaml

# Assets 3D y multimedia (No formatear binarios)
public/modelos/
public/*.glb
public/*.png
public/*.jpg
public/*.svg

# Configuraciones de sistema
.vercel/